spring:
  application:
    name: ap-backend-api
  threads:
    virtual:
      enabled: true
  datasource:
    url: jdbc:mysql://localhost:3306/accounts_payable_db?allowPublicKeyRetrieval=true&useSSL=false
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    show-sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    schemas: accounts_payable_db